/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/views/Login.vue?vue&type=style&index=0&id=26084dc2&lang=scss&scoped=true& ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.login-container[data-v-26084dc2] {
  background-color: white;
  width: 400px;
  margin: 250px auto;
  border-radius: 20px;
  padding: 40px;
}
.login-container > h2[data-v-26084dc2] {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.login-container > .login-btn[data-v-26084dc2] {
  width: 100%;
  display: block;
}
[data-v-26084dc2] .el-tabs .el-tabs__nav,
.is-top[data-v-26084dc2] {
  transform: translateX(50%) !important;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/views/Home.vue?vue&type=style&index=0&id=fae5bece&lang=scss&scoped=true& ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.page-home[data-v-fae5bece] {
  height: 100%;
}
.page-home[data-v-fae5bece]  > .el-container {
  height: 100%;
}
.page-home[data-v-fae5bece]  .el-header {
  background-color: #fff;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.page-home[data-v-fae5bece]  .el-header > h1 {
  place-self: center left;
}
.page-home[data-v-fae5bece]  .el-header > div {
  place-self: center center;
}
.page-home[data-v-fae5bece]  > .el-container > .el-container > aside {
  background-color: #fff;
  padding: 20px;
  line-height: 100%;
}
.page-home[data-v-fae5bece]  > .el-container > .el-container > aside .el-menu {
  border: none;
}
.page-home[data-v-fae5bece]  > .el-container > .el-container > aside + main {
  background-color: #fff;
  margin-left: 10px;
}
.page-home[data-v-fae5bece]  .el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}
.page-home[data-v-fae5bece]  .el-icon-arrow-down {
  font-size: 12px;
}
/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/App.vue?vue&type=style&index=0&lang=scss& ***!
  \************************************************************************************************************************************************************************************************************************************************************/
#app {
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
html,
body {
  background-color: #efefef;
  height: 100%;
}
#app {
  height: 100%;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/lib/index.js??vue-loader-options!./src/views/Main.vue?vue&type=style&index=0&id=c1f1971a&lang=scss&scoped=true& ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
[data-v-c1f1971a] .el-form {
  margin-left: 100px;
  width: 600px;
}
[data-v-c1f1971a] .el-form .el-col-offset-2 {
  height: 40px;
}
.main[data-v-c1f1971a] {
  padding: 30px;
  background-color: white;
}
.main h1[data-v-c1f1971a] {
  margin: 25px 0;
  padding: 25px 0;
  border-bottom: 2px solid #e2e2e2;
  font-size: 30px;
}
